@import url('https://blog.codemy.net/content/images/2019/01/front-end.jpg');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@1000&display=swap');
@import url('https://images.unsplash.com/photo-1497531551184-06b252e1bee1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=967&q=80');
body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: rgba(236, 187, 205, 0.719);

}
html{
    font-size:20px;
    font-family: 'Montserrat', sans-serif;;
}

a {
    text-decoration: none;
}

/* hello section */
.container{
min-height: 100vh;
width: 100%;
display: flex;
align-items: center;
justify-content: center;
}

.hello{
    background-image: url("https://cdn.pixabay.com/photo/2016/03/09/09/17/computer-1245714_960_720.jpg");
background-size: cover;
background-position: center;
position: relative;
z-index: 1;
max-width: 1500px;
    margin: 0 auto;
    padding: 0 20%;
    justify-content: flex-start;
}

.hello::after{
    content: '';
    position: absolute;
    left: 0;
    top:0;
    height: 70vh;
    width: 100%;
    background-color: black;
    opacity: 0.7;
    z-index: -1;
}

.hello h1{
  
    display: block;
    width: fit-content;
    font-size: 2rem;
    position: relative;
    color: white;
}

.hello h2{
    display: block;
    width: fit-content;
    font-size: 2rem;
    position: relative;
    color: transparent;
    animation: helloBox 1s ease forwards;
    animation-delay: 1s;
    margin-top: -30px;
}


.hello h2 span{
    position: absolute;
    top:0;
    left: 0;
     height: 100%;
     width: 0%;
     background-color:#b32c49;
    animation: helloZainab 1s ease forwards;
    animation-delay: 1s;
   
}
.cta{
    display: inline-block;
    padding: 10px 30px;
    color: #b32c49;
    background-color: transparent;
    border: 2px solid #b32c49;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 0.25rem;
    margin-top: 30px;
    transition: .5s ease background-color;

}
.cta:hover{

background-color: rgb(243, 217, 217);
opacity: 0.7;
}

/* service section */

.skill{
flex-direction: column;
text-align: center;
max-width: 1500px;
margin: 0 auto;
padding: 5% 10%;
}
.sectionTitle{
    font-size: 2rem;
    font-weight: 300;
    color:#b32c49;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    text-align: center;
}

.skillTop p{
font-size: 1rem;
margin-top: 5px;
line-height: 2.5rem;
font-weight: 300;
letter-spacing: 0.05rem;
}
.skillBottom{

display: flex;
align-items: center;
justify-content: center;
flex-wrap: wrap;
color: white;
}
.skillBottom h2{
    font-size: 1.5rem;
    letter-spacing: 0.05rem;
    font-weight: 300;
    line-height: 2.5rem;
    text-transform: uppercase;
    margin-bottom: 40px;

}
.skillBottom p{
    padding-left: 60px;
    font-size: 1rem;
    letter-spacing: 0.1rem;
    font-weight: 100;
    line-height: 1rem;
    margin-top: 5px;
}
.skillBottom h2 img{
   height: 35px;
   width: 35px;
}
.skillItem{
    border-radius: 50px;
    flex-basis: 65%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding: 30px;
    background-image: url('https://blog.codemy.net/content/images/2019/01/front-end.jpg');
    background-size: cover;
    height: 100%;
    width: 100%;
    margin: 10px 5%;
    position: relative;
    z-index: 1; 
}

.skillItem::after{
    border-radius: 50px;
    content: '';
    position: absolute;
    left: 0;
    top:0;
    height: 100%;
    width: 100%;
   background-image: linear-gradient(60deg, black 70%, rgb(100, 98, 98) 100%);
    opacity: 0.8;
    z-index: -1;
  
}

/* Project Section*/ 

.projects{
    flex-direction: column;
    text-align: center;
    max-width: 1500px;
    margin: 0 auto;
    padding: 5% 10%;
}
.projectItem{
    border-radius: 50px;
    flex-basis: 40%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding: 30px;
    background-image: url('https://images.unsplash.com/photo-1497531551184-06b252e1bee1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=967&q=80');
    background-size: cover;
    height: 100%;
    width: 50%;
    margin: 10px 5%;
    position: relative;
    z-index: 1; 
}

.projectItem::after{
    border-radius: 50px;
    content: '';
    position: absolute;
    left: 0;
    top:0;
    height: 100%;
    width: 100%;
   background-image: linear-gradient(60deg, black 70%, rgb(100, 98, 98) 100%);
    opacity: 0.6;
    z-index: -1;
  
}

@keyframes helloZainab {
    50% {
      width:100%;
      left: 0;
    }
    100% {
     width: 0%;
     left: 100%;
    }
  }

  @keyframes helloBox {
   
    100% {
    color: #b32c49;
    }
  }
